* {
    font-family: 'Audiowide', cursive;
    margin: 0; padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: url('media/guess.jpg') no-repeat center;
    background-size: cover;
}
body.win {
    background: url('media/win.webp') no-repeat center;
    background-size: cover;
}

#main {
    width: 50vw;
    margin: 10% auto 0;
    padding: 30px;
    color:#477e9c;
    border-radius: 5px;
    border: 1px solid #477e9c;
    background-color: #ffffff6d;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.btn {
    padding: 15px 30px;
    font-size: 15px;
    color: #282626;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(to right, #477e9c, #4996bf, #24688d, #2282b6);
    background-size: 300% 100%;
    
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;   
}

#main.win .btn {
    border: 1px solid #477e9c;
}

.btn:hover {
    background-position: 100% 0;
    
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

#between {
    font-size: 15px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 10px;
    word-spacing: 15px;
    margin: 30px auto 100px;
    text-align: center;
}

#guessed-number {
    position: relative;
    text-align: center;
    border-top: 3px solid #477e9c;
}

#number {
    position: absolute;
    top: -60px; left: 43%;
    background-color: #477e9c;
    width: 130px; height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282626;
    font-size: 18px;
}

#game-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 0 50px;
}

#game-block #left {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#game-block #left input {
    background-color: #ffffff;
    border: 1px solid #477e9c;
    margin-bottom: 15px;
    color: #477e9c;
    padding: 10px; 
}

#game-block #left input:focus,
#game-block #left input:active {
    outline: none;
    box-shadow: 2px 2px 5px #477e9c;
}

#game-block #right {
    width: 40%;
    font-size: 15px;
}

#game-block #right p:nth-child(1) { 
    margin-bottom: 35px;
}

#game-block #right p {
    margin-bottom: 20px;
}